<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DD Lottery App</title>
</head>
<body>

<form action="/" method="post">
    {% csrf_token %}
    <label for="your_code">Your code: </label>
    <input id="your_code" type="text" name="your_code" value="{{ participation_code }}">
    <input type="submit" value="OK">
</form>

<!--<form action="/your-name/" method="post">-->
<!--    {% csrf_token %}-->
<!--    {{ form }}-->
<!--    <input type="submit" value="Submit">-->
<!--</form>-->


</body>
</html>